@charset "utf-8";
*{padding:0;margin:0;list-style-type:none}
body{font-size:12px;font-family:"微软雅黑";color:#333;height:100%;}
html{height:100%}
img{border:none}
a{text-decoration:none;color:#666}
#main{padding:0 10px;}
#main p{line-height:30px;font-size:14px}
h1{font-size:18px;line-height:48px;font-weight:normal;color:#239af8;border-bottom:1px solid #dfdfdf;padding-left:10px;}
strong{color:#C00}